<div class="container">
	<div class="jumbotron" style="text-align: center;">
		<h1>Kreiranje racuna</h1>
	</div>
	<div class="row">
	</div>
</div>

<div class="text-center">
	<select class="height-30 float-left" ng-model="izabranaKategorija" ng-options="kateg as kateg.naziv for kateg in oKategorije">
		<option value="">Kategorije</option>
	</select>
	<input type="checkbox" id="izabrani" name="izabrani" ng-model="cIzabrani">
  	<label for="izabrani" style="color: white; font-size: 15px;">Prikaz izabranih artikala</label>
	<input type="text" placeholder="Trazenje artikala" class="height-30 float-right margin-right" ng-model="inputTrazilica">
</div>

<div class="table-responsive" style="margin-top: 14px; background-color: white;">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Opis</th>
				<th>Kolicina</th>
				<th style="width: 135px;">Cijena</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artikl in oArtikli | filter: inputTrazilica | filter: fKategorije | filter: Izabrani">
				<td>{{artikl.naziv}}</td>
				<td>{{artikl.opis}}</td>
				<td><input type="number" id="quantity" name="quantity" min="0" ng-model="Kolicina[artikl.id]" style="width: 45px;"></td>
				<td class="text-center">{{dajCijenu(artikl)}} HRK</td>
			</tr>
			<tr id="zadnji">
				<td></td>
				<td></td>
				<td><button type="button" class="float-right btn btn-success" ng-click="NapraviRacun()">Izdajte racun</button></td>
				<td class="text-center" style="padding-top: 14px;">{{dajUkupno()}} HRK</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal" id="obavijest" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">  
			<div class="modal-header" style="background-color:#2a7ec5;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" style="color:white"> Upozorenje</h4>
			</div>			
			<div class="modal-body">
				<form class="form-horizontal">
					{{Poruka}}
				</form>
			</div>
			<div class="modal-footer" id="mfooter">
				<button type="button" class="btn btn-default" data-dismiss="modal">Uredu</button>
			</div>
		</div>
	</div>
</div>