<div class="container">
	<div class="jumbotron" style="text-align: center;">
		<h1>Popis artikala</h1>
	</div>
	<div class="row">
	</div>
</div>
<div>
	<select class="height-30" ng-model="izabranaKategorija" ng-options="kateg as kateg.naziv for kateg in oKategorije">
		<option value="">Kategorije</option>
	</select>
	<a ng-click="GetModal('dodaj')" class="btn btn-info btn-sm float-right">
		<span class="glyphicon glyphicon-plus"></span> 
	</a>
	<input type="text" placeholder="Trazenje artikala" class="height-30 float-right margin-right" ng-model="inputTrazilica">
</div>
<div class="table-responsive" style="margin-top: 14px; background-color: white;">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Opis</th>
				<th>Jedinica mjere</th>
				<th>Jedinicna cijena</th>
				<th>Kategorija</th>
				<th class="text-center">Uredi</th>
				<th class="text-center">Obrisi</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artikl in oArtikli | filter: inputTrazilica | filter:fKategorije">
				<td>{{artikl.naziv}}</td>
				<td>{{artikl.opis}}</td>
				<td>{{artikl.jedinicamjere}}</td>
				<td>{{artikl.jedinicnacijena}} HRK</td>
				<td>{{artikl.kategorija.naziv}}</td>
				<td class="text-center">
					<a ng-click="GetModal('uredi', artikl)" href="">
          				<span class="glyphicon glyphicon-edit" style="font-size:1.5em;"></span>
        			</a>
    			</td>
    			<td class="text-center">
					<a ng-click="GetModal('obrisi', artikl.id)" href="">
          				<span class="glyphicon glyphicon-remove-circle" style="font-size:1.5em; color: red;"></span>
        			</a>
    			</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal" id="dodajartikl" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">  
			<div class="modal-header" style="background-color:#2a7ec5;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" style="color:white"> Novi artikl</h4>
			</div>			
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Naziv</label>
						<div class="col-md-8">
							<input 	ng-model="inpNaziv" data-parsley-required="true" type="text" placeholder="Unesite naziv" class="form-control" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Opis</label>
						<div class="col-md-8">
							<input 	ng-model="inpOpis" data-parsley-required="true" type="text" placeholder="Unesite opis" class="form-control" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Jedinica mjere</label>
						<div class="col-md-8">
							<input 	ng-model="inpJedMjere" data-parsley-required="true" type="text" placeholder="Unesite jedinicu mjere" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Jedinicna cijena</label>
						<div class="col-md-8">
							<input 	ng-model="inpCijena" data-parsley-required="true" type="number" min="0" placeholder="Unesite jedinicnu cijenu" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Kategorija</label>
						<div class="col-md-8">
							<select class="height-30 float-left form-control" data-parsley-required="true" ng-model="inpKategorija" ng-options="kateg as kateg.naziv for kateg in oKategorije">
								<option value="">Kategorije</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="greska">
						<div class="col-md-8 text-center greska">
							{{Greska}}
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" id="mfooter">
				<button type="button" class="btn btn-success btn-s" ng-click="DodajNoviArtikl()" data-dismiss="modal">Dodaj</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="urediartikl" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">  
			<div class="modal-header" style="background-color:#2a7ec5;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" style="color:white"> Uredi artikl</h4>
			</div>			
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Naziv</label>
						<div class="col-md-8">
							<input 	ng-model="inpUrNaziv" data-parsley-required="true" type="text" placeholder="Unesite naziv" class="form-control" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Opis</label>
						<div class="col-md-8">
							<input 	ng-model="inpUrOpis" data-parsley-required="true" type="text" placeholder="Unesite opis" class="form-control" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Jedinica mjere</label>
						<div class="col-md-8">
							<input 	ng-model="inpUrJedMjere" data-parsley-required="true" type="text" placeholder="Unesite jedinicu mjere" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Jedinicna cijena</label>
						<div class="col-md-8">
							<input 	ng-model="inpUrCijena" data-parsley-required="true" type="number" min="0" placeholder="Unesite jedinicnu cijenu" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">Kategorija</label>
						<div class="col-md-8">
							<select class="height-30 float-left form-control" data-parsley-required="true" ng-model="inpUrKategorija" ng-options="kateg.sifra as kateg.naziv for kateg in oKategorije">
								<option value="">Kategorije</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="greska2">
						<div class="col-md-8 text-center greska">
							{{Greska}}
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" id="mfooter">
				<button type="button" class="btn btn-success btn-s" ng-click="Uredi()" data-dismiss="modal">Spremi</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="obrisiartikl" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">  
			<div class="modal-header" style="background-color:#2a7ec5;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" style="color:white"> Upozorenje</h4>
			</div>			
			<div class="modal-body">
				<form class="form-horizontal">
					Da li ste sigurni da zelite obrisati artikl?
				</form>
			</div>
			<div class="modal-footer" id="mfooter">
				<button type="button" class="btn btn-danger btn-s" ng-click="Obrisi()" data-dismiss="modal">Da</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
			</div>
		</div>
	</div>
</div>